.createTodoButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;

}
.button {
    font-family: 'della respira';
    padding: 8px;
    cursor: url('../images/cat2.png'),pointer;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    border: medium  solid #ecbad3;
    border-radius: 30px;
    -webkit-transition: 1s linear;
    transition: 1s linear;

}
.button:hover{
    -webkit-transform: perspective(150px) rotateX(45deg);
    transform: perspective(150px) rotateX(45deg);
}

/* Media Queries */
@media screen and (min-width: 768px){
    .button{
        width: 130px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .button{
        width: 150px;
        font-size: 18px;
    }
}

