.resetContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;

}
.reset {
    font-family: "della respira";
    border-radius: 50px;
    width: 50px;
    background-color:#fbc8b0;
    border-color: #8f2d36;

}
.reset:hover{
    background-color: #F08487;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .reset{
        width: 60px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .reset{
        width: 65px;
        font-size: 18px;
    }
}