.titleCounter{
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-family: 'della respira';

    animation-name: logoAnimation;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-iteration-count: 1; 
    animation-direction: normal;
    animation-play-state: running;

  }

  @keyframes logoAnimation {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    20%,100% {
      opacity: 1;
      transform: translateX(0);
    }
   
}
.titleCounter span {
    color:#B7709E;
}
.titleFinished {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-family: 'della respira';
  
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .titleCounter{
    font-size: 30px;
  }
  .titleFinished{
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .titleCounter{
    font-size: 36px;
  }
  .titleFinished{
    font-size: 36px;
  }
}