.listTodoItem{
    background-color:beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.parrTodoItem {
    margin-left: 40px;
    margin-right: 20px;
}
.imageTic {
    width: 40px;
    height: 40px;
    position:absolute;
    right: 250px;
    
}
.imageError {
    width: 25px;
    height: 25px;
}