.form {
    background-color:#F1C0DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    padding: 5px 10px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    position: fixed;
    border-radius: 20px;
}
.formLabel {
    font-family: "della respira";
    margin-bottom: 30px;
}
.formTextarea {
    margin-bottom: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    border: 3px solid #8BBEED;
}
.formTextarea::placeholder {
    font-family: "pacifico";
}
.buttons {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cancelBtn {
    background:palevioletred;
    border-radius:50px;
    cursor: pointer;
    font-family: "della respira";
 
}
.addBtn {
    border-radius: 50px;
    background-color: #E5B7FF;
    cursor: pointer;
    font-family: "della respira";
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .form{
    width: 300px;
    height: 300px;
  }
  .formLabel{
    font-size: 21px;
  }
  .formTextarea{
    width: 250px;
    font-size: 16px;
  }
  .cancelBtn{
    width: 90px;
    font-size: 16px;
  }
  .addBtn{
    width: 90px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
    .form{
        width: 320px;
        height: 320px;
    }
    .formLabel{
        font-size: 23px;
    }
    .formTextarea{
        width: 280px;
        font-size: 18px;
    }
   
}