.formSearch {
  display: flex;
  justify-content: center;

}
.inputSearch {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: medium solid #ecbad3;
    font-family: 'pacifico';
    outline-color:#ecb6ff;
}
.inputSearch:hover {
  background-color:#fadbd9 ;
}

/* Media Queries */
@media screen and (min-width: 768px){
  .inputSearch{
    width: 200px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .inputSearch{
    width: 250px;
    font-size: 18px;
  }
}
