.listTodoItem{
    background-color:#C1ECFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
}
.parrTodoItem {
    margin-left: 40px;
    margin-right: 20px;
    font-family: 'pacifico';
}
.parrTodoItem-complete {
    text-decoration: line-through;
}
.imageTic {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    top:-14px;
    left:0;
    bottom: 0;
}
.imageTic:hover {
    box-shadow: inset 0 0 20px #c331f7,
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
    cursor: pointer;
}
.imageTic-active {
    background-color:#ECB6FF;
}

.imageError {
    display: flex;
    flex-direction: row;
    width: 25px;
    height: 25px;
   
    position: absolute;
    right: 1px;
    bottom: -8px;

}
.imageError-delete:hover {
   border-radius: 7px;
    box-shadow: inset 0 0 20px #d9a3ff,
    0 0 20px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}