.formSearch {
  display: flex;
  justify-content: center;

}
.inputSearch {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border: medium solid #ecbad3;
    font-family: 'pacifico';
    outline-color:#ecb6ff;
}
.inputSearch:hover {
  background-color:#fadbd9 ;
}
